<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header-bar}"></div>

<div class="container">
    <h1>게시판</h1>

    <div class="write-btn-container">
        <form th:action="@{/posts}" method="get" class="search-form">
            <select name="searchType">
                <option value="title" th:selected="${searchType == 'title'}">제목</option>
                <option value="content" th:selected="${searchType == 'content'}">내용</option>
                <option value="author" th:selected="${searchType == 'author'}">작성자</option>
            </select>
            <input type="text" name="keyword" th:value="${keyword}" placeholder="검색어 입력" autocomplete="off"/>
            <button type="submit">검색</button>
        </form>

        <a th:href="@{/posts/new}" class="btn">글쓰기</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, stat : ${posts}">
            <td th:text="${posts.size() - stat.index}"></td>
            <td> <span th:if="${post.hasImage}">
          <img src="/images/image-icon.png" alt="이미지 있음" style="width:16px; height:16px; vertical-align:middle; margin-right:4px;" />
        </span><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">제목</a><span class="comment-count" th:text="'[' + ${post.commentCount} + ']'">[0]</span></td>
            <td th:text="${post.author}">작성자</td>
            <td th:text="${post.createdAt}">2025-05-16</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
